:root {
    --primary-txt: #EEF8F8;
    --primary-background: #1B174E;
}


.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.App {
  text-align: center;
  color: var(--primary-txt);
  width: 100;
}

h1 {
  margin: 2rem 0 2rem 0;
  font-family: 'ADLaM Display', sans-serif;
}

#calculator {
  width: 400px;
  height: 500px;;
  background-color: var(--primary-txt);
  gap: 1rem;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.3);
}

#brand {
  color: #000000;
  position: absolute;
  top: 1%;
  right: 5%;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Almendra SC', sans-serif;
}

#display {
  color: var(--primary-background);
  width: 90%;
  max-height: 16%;
  background-color: #9C8989;
  margin-top: 2rem;
  padding: 0;
  padding: 0 .4rem 0 .4rem;
  color: var(--primary-background);	
  font-weight: bold;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-align: right;
  font-size: 3rem;
  align-items: right;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

#buttons {
  width: 90%;
  height: 60%;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5%;
}

button {
  border-radius: 40%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--primary-background);
  color: var(--primary-txt);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#zero {
  grid-column: span 2;
  border-radius: 30px;
}

.red {
  background-color: #B53636;
}

.blue {
  background-color: var(--primary-background);
}

.gray {
  background-color: #2F3037;
}
  
  
@media screen and (max-width: 500px) {

  #calculator {
    width: 70%;
    height: 65%;
    margin-top: 2rem;
  }
  
  #buttons {
  margin-top: 1.7rem;
  margin-bottom: .5rem;
 }

}


